[project]
	description = Mendix 5 Widget - Bootstrap based Multilevel menu. Allowing to select a reference via relation. The menu display entities using relations with other entitys or a recursive reference to its own entity.
[access "refs/*"]
	owner = group user/Andries Smit (Andries-Smit)
[access "refs/for/refs/*"]
	read = group user/Andries Smit (Andries-Smit)
	push = group user/Andries Smit (Andries-Smit)
	label-Code-Review = -2..+2 group user/Andries Smit (Andries-Smit)
	label-Verified = -1..+1 group user/Andries Smit (Andries-Smit)
	rebase = group user/Andries Smit (Andries-Smit)
	removeReviewer = group user/Andries Smit (Andries-Smit)
	submit = group user/Andries Smit (Andries-Smit)
[access "refs/heads/*"]
	read = group user/Andries Smit (Andries-Smit)
	create = group user/Andries Smit (Andries-Smit)
	push = +force group user/Andries Smit (Andries-Smit)
	pushMerge = group user/Andries Smit (Andries-Smit)
[access "refs/tags/*"]
	push = +force group user/Andries Smit (Andries-Smit)
	pushTag = group user/Andries Smit (Andries-Smit)
	pushSignedTag = group user/Andries Smit (Andries-Smit)
